@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-slate-700 text-slate-50;
}
h1 {
  @apply text-3xl font-bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  @apply py-2 px-4 bg-slate-50 text-slate-700 hover:opacity-50 rounded-md;
}
.btn-danger {
  @apply py-2 px-4 bg-red-500 text-slate-50 hover:opacity-50 rounded-md ml-2 inline-block cursor-pointer;
}

main {
  min-width: 400px;
}

form {
  @apply my-4;
}

.form-group {
  @apply flex flex-col;
}

.form-group > input {
  @apply pl-2 py-2 rounded-md text-slate-700;
}
.form-group > label {
  @apply text-slate-200 text-sm font-bold;
}

div#settings-form > form > .form-group {
  @apply mb-5;
}
